<div class="card" style="width: 18rem;">
    <img src="https://place-hold.it/300x300" width="300" / class="card-img-top" alt="Image de">
    <div class="card-body">
        <h2 class="card-title h5 text-dark"></h2>
        <p class="card-text"></p>
        <a href="{{ path('app_product') }}" class="btn btn-primary">Voir</a>
    </div>
</div>
